/* :root {
    --grid-cols: 1;
    --grid-rows: 1;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#slider {
    display: flex;
    flex-direction: column;
}

#master{
    height: 500px;
    width: 500px;
}
#container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-gap: 0px;
    /* grid-template-rows: repeat(--grid-rows, 1fr);
    grid-template-columns: repeat(--grid-cols, 1fr); */
}
  
.grid-item {
    border: 0.5px solid #ddd;
    text-align: center;
}

#reset{
    margin: 50px 0px 50px 0px;
    padding: 25px 50px 25px 50px;
    background-color: rgb(3, 201, 201);
    color: rgb(223, 223, 223);
    transition: all 500ms ease;
}
#reset:hover{
    scale: 1.1;
}
#reset:active{
    background-color: rgb(0, 158, 158);
    color: white;
    transform: scale(0.85);
}