:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#master {
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    display: grid;
    width: 1030px;
    height: 655px;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}